/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* font-family: 'Poppins', sans-serif; */
  /* background: linear-gradient(90deg, #152331 0%, #000000 100%); */
}
img{
  pointer-events: none;
  width: 100%;

}
.Navcontainer{
  width: 100%;
  position: fixed;
  z-index: 1;
  background: linear-gradient(90deg, #0f4c5c 0%, #023047 100%);
  /* background:  linear-gradient(90deg, #5284b6 100%, #000000 100%); */
}
.Navchild{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navsubchild{
  display: flex;
grid-gap: 50px;
}
.logoimg{
  width: 14%;
}
.price{
  font-weight: 600;
  font-style: normal;
  font-family: 'Montserrat';
  /* font-family: 'Poppins', sans-serif; */
  font-size: 15px;
  color: #FFFFFF;
text-decoration: none;
}
.price:hover{
  color: #52B788;
}
.buy{
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  font-family: 'Montserrat';
text-decoration: none;
/* list-style: none; */
}
.buy:hover{
  color: #52B788;
}
.solution{
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
text-decoration: none;
font-family: 'Montserrat';
/* list-style: none; */
}
.solution:hover{
  color: #52B788;
}
.trade{
  font-weight: 600;
font-size: 15px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Montserrat';
/* list-style: none; */
}
.trade:hover{
  color: #52B788;
}
.login button{
  background: #52B788;
  border: 1px solid #52B788;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  font-family: 'Montserrat';
font-weight: 600;
font-size: 15px;
color: #FFFFFF;
}
.login2{
  display: none;
}
.login2 button{
  background: #52B788;
  border: 1px solid #52B788;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  font-family: 'Montserrat';
font-weight: 600;
font-size: 15px;
color: #FFFFFF;

}
.menubar{
  display: none;
  /* right: 0;
  top: 30px;
  position: absolute; */

}
/* Herobanner */
.herosectioncont{
  position: relative;
  top: 200px;
  /* margin-top: 150px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.herotxt h4{
  font-weight: 600;
font-size: 70px;
text-transform: capitalize;
color: #FFFFFF;
}
.herotxt{
  width: 80%;
}
.heroptag p{
  font-family: 'Montserrat';
font-weight: 500;
font-size: 25px;
color: #FFFFFF;
}
.heroptag{
  width: 75%;
}
.heroimg{
  width: 70%;
}
.contactsale{
  margin-left: 10px;
  color: #52B788;
  font-weight: 600;

}
.signin button{
  background: #52B788;
  border: 1px solid #52B788;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-family: 'Montserrat';
font-weight: 600;
font-size: 15px;
color: #FFFFFF;
}

@media  (min-width:320px) and (max-width:900px) {
 
 .logoimg{
  width: 47%;
  margin-right: 50px;
 }
  .login{
    display: none;
  }
  .login2{
    display: block;
    margin-top: 40px;
  }
  .Navchild .Navsubchild{
    display: block;
    right: 0;
    position: fixed;
    top: 0px;
    background:#023047;
    width: 70%;
    height: 100vh;
    padding: 60px 5px 5px 40px;
  }
 .expand .Navsubchild{
    /* display: block; */
    display: none;
  
  }
  .Navsubchild{

  }
  .price{
    font-size: 25px;
  }
  .buy{
    font-size: 25px;
  }
  .trade{
    font-size: 25px;
  }
  .solution{
    font-size: 25px;
  }

  .menubar{
    z-index: 1;
   
    display: block;
    /* left: 30;
    position: relative; */
  }
  .x-ixon{
    color: #f1f1f1;
    font-weight: 900;
  }
  .herosectioncont{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .herotxt h4{
    font-weight: 600;
  font-size: 40px;
  }
  .heroimg{
    margin-top: 80px;
    width: 100%;
    margin-bottom: 40px;
  }
  .heroptag{
    width: 100%;
  }
}